li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  margin: 10px;


  cursor: pointer;
  color: aliceblue;
}

li:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
  color: black;
}

header {
  box-shadow: #000000 0px 0px 10px;
}
